flow.json
[
    {
        "id": "f64c1629.160888",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e65338d6.4182d8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5fe544b4.18b66c",
        "type": "twitter-credentials",
        "screen_name": "jecrespom"
    },
    {
        "id": "8cc4ef54.4ac0b",
        "type": "twitter out",
        "z": "f64c1629.160888",
        "twitter": "5fe544b4.18b66c",
        "name": "Tweet",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "2bd54a6e.dab0b6",
        "type": "e-mail in",
        "z": "f64c1629.160888",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "port": "993",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "30",
        "fetch": "auto",
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "9f7ea676.a11e68",
                "1b4dd0f0.bee1ff"
            ]
        ]
    },
    {
        "id": "9f7ea676.a11e68",
        "type": "debug",
        "z": "f64c1629.160888",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "c8a79422.781318",
        "type": "http in",
        "z": "f64c1629.160888",
        "name": "",
        "url": "/mail",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "1e517729.517179",
                "54c1e70d.ab3e18",
                "6dafd9f7.efc9d8"
            ]
        ]
    },
    {
        "id": "8dd9bc1.84c0e4",
        "type": "comment",
        "z": "f64c1629.160888",
        "name": "Si llega un email con el subject twitter, tuiteo el contenido del email",
        "info": "",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "c4dff212.5194b",
        "type": "comment",
        "z": "f64c1629.160888",
        "name": "Si llega una llamada http al endpoint mail, mando un email al destinatario, asunto y contendio indicados",
        "info": "",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "1e517729.517179",
        "type": "debug",
        "z": "f64c1629.160888",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "54c1e70d.ab3e18",
        "type": "template",
        "z": "f64c1629.160888",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Enviando correo</h1>\n        <p>destinatario: {{payload.destinatario}}</p>\n        <p>asunto: {{payload.asunto}}</p>\n        <p>contenido: {{payload.contenido}}</p>\n    </body>\n</html>",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "f64c1629.160888",
        "name": "",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "a722419a.caa15",
        "type": "e-mail",
        "z": "f64c1629.160888",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "6dafd9f7.efc9d8",
        "type": "change",
        "z": "f64c1629.160888",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "payload.destinatario",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.asunto",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.contenido",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "a722419a.caa15"
            ]
        ]
    },
    {
        "id": "d7a4eca4.e56d9",
        "type": "function",
        "z": "f64c1629.160888",
        "name": "",
        "func": "msg.payload = msg.topic + \": \" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 120,
        "wires": [
            [
                "8cc4ef54.4ac0b",
                "8076f755.e7e858"
            ]
        ]
    },
    {
        "id": "1b4dd0f0.bee1ff",
        "type": "switch",
        "z": "f64c1629.160888",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "twitter",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "d7a4eca4.e56d9"
            ]
        ]
    },
    {
        "id": "be3b01aa.f3bf7",
        "type": "http request",
        "z": "e65338d6.4182d8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://enriquecrespo.com:18802/mail",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "1df1e961.4b0cf7"
            ]
        ]
    },
    {
        "id": "ef12d1d7.5ba3b",
        "type": "inject",
        "z": "e65338d6.4182d8",
        "name": "",
        "props": [
            {
                "p": "payload.destinatario",
                "v": "aprendiendoraspberrypi@gmail.com",
                "vt": "str"
            },
            {
                "p": "payload.asunto",
                "v": "Prueba con POST",
                "vt": "str"
            },
            {
                "p": "payload.contenido",
                "v": "Mando contenido a Node-RED",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "be3b01aa.f3bf7"
            ]
        ]
    },
    {
        "id": "1df1e961.4b0cf7",
        "type": "debug",
        "z": "e65338d6.4182d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "8076f755.e7e858",
        "type": "debug",
        "z": "f64c1629.160888",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    }
]